.DS_Store
/target
plugin.xml
*.log
*.zip
*.zip.sha1
/web-app/META-INF
/web-app/WEB-INF
/data
cobertura.ser
*.idea/**
*.iml
/plugins
/plugins/time-series-0.1-SNAPSHOT/src/groovy/grails/plugins/timeseries/TimeSeriesProvider.groovy
/plugins/time-series-0.1-SNAPSHOT/src/groovy/grails/plugins/timeseries/AbstractTimeSeriesProvider.groovy
